{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simle Todo App</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-resource.js"></script>

    <script src="http://underscorejs.org/underscore-min.js"></script>

    <script src="{% static 'js/app.js' %}"></script>
    <style>
        tr.done-True {
            text-decoration: line-through;
            color: #cbcbcb;
        }
        tr.done-False {

        }
        td:last-child, th:last-child {
            width: 200px;
        }
    </style>
</head>
<body ng-app="Todo">
{% block content %}{% endblock %}
</body>
</html>
